.padding {
    padding: 1em;
}
.top {
    padding: 2em;
    display: flex;
    background: #f6f7f8;
}
.top-left-image {
    height: 55vh;
    width: 23vw;
    border-radius: 10px;
}
.top-right {
    margin-left: 5%;
}
.span {
    color: #1193d4;
    margin: 2% 0;
}
.bottom {
    padding: 1em;
    margin-top: 3%;
}
.h2 {
    text-align: center;
}
.experience {
    margin: 3% 0 0 12%;
}
.icon {
    background: #f6f7f8;
    color: #1193d4;
    padding: 0.7em;
    margin-top: 2%;
    border-radius: 5px;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .top {
        flex-direction: column;
        align-items: center;
    }
    
    .top-left-image {
        width: 50vw;
        height: 40vh;
        margin-bottom: 5%;
    }
    
    .top-right {
        margin-left: 0;
        text-align: center;
    }
    
    .experience {
        margin: 3% 0 0 10%;
    }
}

@media (max-width: 767px) {
    .top {
        flex-direction: column;
        align-items: center;
    }
    
    .top-left-image {
        width: 80vw;
        height: 45vh;
        margin-bottom: 5%;
    }
    
    .top-right {
        margin-left: 0;
        text-align: center;
        padding: 0 1em;
    }
    
    .experience {
        margin: 3% 0 0 5%;
    }
}