.contact{
    padding: 1em;
}
.contactTop{
    text-align: center;
    margin-top: 5%;
}
.contactContainer{
    margin-top: 5%;
    display: flex;
    justify-content: center;
}
.form {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin-right: 5%;
}
.label {
    margin-bottom: 0.5em;
    font-weight: bold;
}
.input, .textarea {
    margin-bottom: 1em;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}
.send {
     background: #1193d4;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 0.5em 1em;
    width: 30vw;
    height: 7vh;
}
.socials{
    font-size: 2em;
    margin-right: 0.5em;
    color: #1193d4;
    text-decoration: none;
}