.home {
    padding: 1em;
}
.content {
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}
.title {
    color: #1193d4;
    transition: opacity 0.5s ease-in-out;
}

.fadeIn {
    opacity: 1;
}

.fadeOut {
    opacity: 0;
}
.content-left p{
    margin-top: 3%;
}
.buttons {
    display: flex;
    gap: 1em;
    margin-top: 2em;
}
.view {
    background: #1193d4;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 0.5em 1em;
    width: 10vw;
    height: 7vh;
}
.learn {
    background: #1193d440;
    color: #1193d4;
    border: none;
    border-radius: 5px;
    padding: 0.5em 1em;
    width: 10vw;
    height: 7vh;
}
.link {
    text-decoration: none;
    color: inherit;
}
.content-right-image {
    height: 55vh;
    width: 25vw;
    border-radius: 50%;
    margin-top: -10%;
}