.skills {
    padding: 1em;
}
.container{
    padding: 0 4em;
}
.skillsContainer h2{
    margin-top: 3%;
    padding-bottom: 1em;
    border-bottom: 1px solid #1193d4;
}
.skillsCards {
    display: flex;
    justify-content: space-between;
}
.skill {
    width: 30vw;
    padding: 0.3em;
    margin-right: 3%;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}