.sidebar{
    display: flex !important;
    justify-content: space-between !important;
}
.li{
    margin-right: 2em;
    text-decoration: none;
    color: black;
}
.li:hover{
    color: #1193d4;
}
.resume {
    background: #1193d4;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 0.5em 1em;
    width: 10vw;
    height: 7vh;
}