.testimonials {
    padding: 1em;
}
.testimonialTop {
    text-align: center;
    margin-top: 5%;
}
.testimonialContainer {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.testimonialCard {
    height: 40vh;
    width: 25vw;
    margin-right: 2%;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1em;
}