.work {
    padding: 1em;
}
.workTop{
    text-align: center;
    margin-top: 3%;
}
.workBottom{
    padding: 1em;
}
.workBottom h2{
    border-left: 3px solid #1193d4;
    padding-left: 0.5em;
}
.card {
    height: 40vh;
    width: 30vw;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.card p{
    padding: 1em;
}
.section {
    display: flex;
    justify-content: space-between;
}